/* BTNS */
.button {
  height: 30px;
  border: solid 1px;
  border-color: var(--clr-green);
  padding: 4px 8px;
  font-size: 18px;
  color: var(--clr-green);
  background-color: transparent;
}
/* SPAN */
.green {
  color: var(--clr-green);
}
/* INPUTS */
.input {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: var(--clr-blk);
  display: inline-block;
  margin: 0 auto;
}
.round {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

/* Nav */
#navbar {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
#navbar .mcr {
  display: flex;
}
#navbar .mcr p {
  padding-left: 20px;
}
/* Banner */
#banner {
  height: 1125px;
  width: 100%;
  background-image: url(./assets/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#banner .title {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#banner .title h1 {
  padding: 30px;
  font-size: 150px;
  font-weight: 700;
}
#banner .title p {
  padding-top: 60px;
}
#banner .title i {
  font-size: 40px;
  padding-top: 100px;
}
